.title
	h1 Santa's Reindeer
	a(href="https://ivanodintsov.ru", target="_blank")
		img(src="https://maxcdn.icons8.com/Android_L/PNG/24/Messaging/link-24.png", alt="Twitter icon")
	span &nbsp;&nbsp; / &nbsp;&nbsp;
	a(href="https://twitter.com/odintsov_design", target="_blank")
		img(src="https://g.twimg.com/dev/documentation/image/Twitter_logo_blue_32.png", alt="Twitter icon")

.container
	.artboard
		.deer
			.rocking
				.head
					.horns
						.horn.horn-left
							.line.line-one
							.line
							.line.line-three
						.horn.horn-right
							.line.line-one
							.line
							.line.line-three
					.ears
						.ear.ear-left
						.ear.ear-right
					.eyes
						.eye.eye-left
						.eye.eye-right
					.nose
				.body
					.shadow
					.hooves
						.hoof-one
							.line
							.anim-part
								.circle
									.circle
										.circle
											.circle
												.circle.circle-last
						.hoof-two
							.line-one
							.line-two
				.tail
					.circle
						.circle
							.circle
								.circle
									.circle
			.legs
				.leg-left
					.anim-part
						.line
				.leg-right
					.anim-part
						.circle
							.circle
								.circle
									.circle
										.circle
											.circle
												.circle
													.circle
														.circle.circle-last
		.presents
			.present.present-one
			.present.present-two
			.present.present-two.present-two-right
			.present.present-three
		.snow
		- for (var i = 1; i < 100; i++)
			.snowflake
			
.credits.
	Created with <span class="love"></span> by <a href="http://codepen.io/ivanodintsov">Ivan Odintsov</a>  &nbsp;&nbsp;&middot;&nbsp;&nbsp;	Original by <a href="https://dribbble.com/shots/2421804-Merry-Christmas">Artua</a>