<ul class="social">

  <li>
    <a href="/feed.xml">
      {% include icons/feed.svg %}
    </a>
  </li>

  <li>
    <a href="//twitter.com/lmprht" target="_blank">
      {% include icons/twitter.svg %}
    </a>
  </li>

  <li>
    <a href="//github.com/leo" target="_blank">
      {% include icons/github.svg %}
    </a>
  </li>

  <li>
    <a href="//dribbble.com/mindrun" target="_blank">
      {% include icons/dribbble.svg %}
    </a>
  </li>

  <li>
    <a href="mailto:mindrun@icloud.com">
      {% include icons/mail.svg %}
    </a>
  </li>

</ul>
